body {
    font-family: Arial, sans-serif;
    background-color: #F4E1E0;
    margin: 0;
    padding: 0;
}

.containerb {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color:#D3A292;
    font-weight: 300;
}

.h22{
    text-align: center;
    color:#D3A292;
    font-weight: 400;
    font-size: larger;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #233349;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #9EAFB6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color:  #233349;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

li button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    float: right;
}

li button:hover {
    background-color: #c0392b;
}

/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color:  #F4E1E0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button {
    background-color: #233349;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #9EAFB6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color:  #233349;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

button.completeBtn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

button.deleteBtn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

button:hover {
    background-color: #9EAFB6;
}

